*
{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
    background-color:white;
}
.w1>a{
    border: 5px;
    background-color: black;
    list-style: none;
}
.header{
    width: 1440px;
    display: flex;
    padding-top: 104px;
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168px;
}
.main{
    width: 1440px;
    display: flex;
    padding-top: 104px;
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168px;
}