*
{
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    padding-left: 12px;
    padding-top:20px;
    background-color:white;
}

.header{
    width: auto;
    display: flex;
    padding-top: 104px;
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168px;
}
.main{
    background-color: whitesmoke;
    display: flex;
    padding-top: 130px;
    padding-left:170px;
    padding-right: auto;
    padding-bottom: 168px;
    margin-top: 300px;
}
.header>h3, h4{
    font-size: 23px;
    line-height: 50px;
    margin-bottom: 61px;
}
.delit{
    width: 45px;
    height: auto;
    background-color: whitesmoke;
}
.strela{
    padding: 10px;
}
.imgp>img{
    right:9.4px;
    position: relative;
    height: 420px; 
    width: 410px;
    opacity: 0.9;
}
.buy{
    display: flex;
    position: relative;
}
.buy>a{
    display: block;
    width: 278px;
    height: 82px;
    background-color: rgb(29, 27, 27);
    color:#ffff;
    text-decoration: none;
    font-size: 32px;
    line-height: 82px;
    text-align: center;
}

.buy>p {
    width: 278px;
    height: 82px;
    background-color:#ffff;
    text-decoration: none;
    font-size: 32px;
    line-height: 82px;
    text-align: center;
}
.buy2>p, a{
    display: grid;
    text-align: center;
}


@keyframes animka {
    from{
        line-height: 0px;
    }
    to{
        line-height: 150px;
    }
}
.intr{
    animation-name:animka;
    animation-delay: 0s;
    animation-duration: 2.4s;
    animation-iteration-count: infinite;
    margin-top: 236px;
    font-size: 100px;
    text-align: center;
    line-height: 113px;
}
.ftr{
    text-align: center;
}
.buy2>a{
    color:white;
    display: block;
    width: 278px;
    height: 82px;
    background-color: rgb(29, 27, 27);
    text-decoration: none;
    font-size: 32px;
    line-height: 82px;
    text-align: center;
}
.buy2>p{
    align-items: center;
    text-align: center;
    display: flex;
    width: 278px;
    height: 82px;
    background-color:#ffff;
    text-decoration: none;
    font-size: 32px;
    line-height: 82px;
    text-align: center;
}
.buy2{
    width: 50%;
    display: block;
}
